/* GLOBAL */
body { margin:0; padding:0; background:#F3F6F3 url(../images/bg/body.jpg) left top repeat-x; text-align:center; }
div { font-family:tahoma, helvetica; font-size:11px; color:#575A57; text-align:left; }
h1, h2, h3, h4, h5 { margin:0; padding:0; margin-bottom:14px; }
img { border:0; }
form { display:inline; }
a, a:hover { color: #004289; text-decoration:none; }

.clr { clear: both; }
.shortcut { text-decoration:underline !important; }
.hr {height:20px; margin-top: 20px; border-top: 1px dashed #C0C0C0;}

.top-menu { width: 100%; background-color:#004289; text-align: right; color: #FFF; padding: 5px }
.top-menu a {	color: #FFF; padding: 5px }

.banner { height: 95px }
.share-button { position: absolute; top: 40px; left: 80%; }


.links-on-content a {
	display: block;
	text-decoration: underline;
	margin: 4px 0;
	padding: 9px 16px;
	font-size: 120%;
	background-color: #EEEEEE;
	border-left: 2px solid #EEEEEE;
}

.links-on-content a:hover { background-color: #E0E0E0; border-left: 2px solid #CFCFCF }

.menu { 
	text-align:left; 
	border-width: 1px;
	border-style: solid;
	border-top-color: #f3f3f3;
	border-left-color: #E7E7E7;
	border-right-color: #E7E7E7;
	border-bottom-color: #D7D7D7;
	background: #ffffff;
	border-radius: 5px;
	background: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
	background: -webkit-linear-gradient(top, #ffffff 0%,#ececec 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#ececec 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#ececec 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#ececec 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ececec',GradientType=0);
	-webkit-box-shadow: 2px 2px 8px 2px #6E6E6E;
	box-shadow: 1px 1px 3px 1px rgba(180,180,180,0.4);
}
.menu ul { margin:0; padding:0; height: 36px;}
.menu li { list-style:none; display: inline-block; padding-right:2px; height: 36px; padding: 4px 0 }
.menu li.last a { border-right: none }
.menu a { font-size:14px; color:#004289; display:inline-block; border-right: 1px solid #E4E4E4; padding:0 13px 0 15px; height: 28px; line-height: 28px }
.menu li.selected, .menu li:hover {
	background: #0a6ad0;
	background: -moz-linear-gradient(top, #0a6ad0 0%, #08498d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0a6ad0), color-stop(100%,#08498d));
	background: -webkit-linear-gradient(top, #0a6ad0 0%,#08498d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #0a6ad0 0%,#08498d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #0a6ad0 0%,#08498d 100%); /* IE10+ */
	background: linear-gradient(to bottom, #0a6ad0 0%,#08498d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a6ad0', endColorstr='#08498d',GradientType=0)
}
.menu li.selected a, .menu li:hover a { color:#fff; border-right-color: rgba(0,0,0,0) }

.main-content {font-size: 120%}

.main-content h2{ text-transform: uppercase }

.main-content h4.subtitle{ color: #777777 }

.footer { margin-top:22px; padding:20px 3px 20px 3px; border-top:1px solid #E2E9E2 }
.footer address { float:left; font-style:normal }
.footer address span { font-weight:bold }
.footer > address, .footer > div { height: 60px }
#links a { background-color:#E2E9E2; padding:4px 8px;	display: inline-block	}

.submenu { padding:10px; background-color:#E6EEE7; min-height: 335px; }
.submenu a { display:block; color: #575A57;}
.submenu .nivel1 { font-weight:bold; text-transform:uppercase; }

.mini-logos a {
	background-image: url('../images/mini-logos.png');
	background-repeat: no-repeat;
	text-indent: 36px
}

.mini-logos a.group66 {background-position: 4px 0px}
.mini-logos a.group143 {background-position: 4px -36px}
.mini-logos a.group157 {background-position: 4px -72px}
.mini-logos a.group219 {background-position: 4px -108px}
.mini-logos a.group223 {background-position: 4px -144px}
.mini-logos a.group259 {background-position: 4px -180px}
.mini-logos a.group268 {background-position: 4px -216px}
.mini-logos a.group290 {background-position: 4px -252px}
.mini-logos a.group310 {background-position: 4px -288px}
.mini-logos a.group313 {background-position: 4px -324px}
.mini-logos a.group353 {background-position: 4px -360px}


.groups .thumbnail {
	padding: 8px;
	width: 150px;
	float: left;
	text-align: center;
	margin: 4px;
}

.groups .thumbnail a {margin-top: 4px; display: inline-block; color: #004289 }
.group-data { font-size: 100% }
.group-data .label-field { display: inline-block; width: 65px }
.group-data a { text-decoration: underline }

.team-member { 
	background: #ffffff;
	border-radius: 5px;
	background: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ececec));
	background: -webkit-linear-gradient(top, #ffffff 0%,#ececec 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#ececec 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#ececec 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#ececec 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ececec',GradientType=0);
	box-shadow: 1px 1px 3px 1px rgba(180,180,180,0.4);
	padding: 10px;
	float: left;
	width: 49%;
	margin-left: 1%;
	margin-bottom: 8px
}

.team-member h4 { font-weight: bold; margin-top: 10px; }
.team-member img { float: left; margin-right: 10px; border-width: 2px; border-style: solid}

.team-member.commissar h4 { font-size: 200% }
.team-member.commissar img {
	border-top-color: #DD0000;
	border-left-color: #DD0000;
	border-right-color: #FFFF00;
	border-bottom-color: #FFFF00;
}

.team-member.director img { border-color: #26d5d3 }
.team-member.wolf img { border-color: #EEEE00 }
.team-member.scout img { border-color: #00783A }
.team-member.senior img { border-color: #821e3f }
.team-member.hover img { border-color: #CC0000 }

.calendar { width: 100%; border: 1px solid #CCCCCC; float: left; color: #000; }
.calendar div {border: 1px solid #CCCCCC; float: left; overflow: hidden; text-align: center }
.calendar .max-header, .calendar .month, .calendar .month .month-content .header, .calendar .month .month-content .content{ width: 100% }
.calendar .max-header { font-size: 130%; font-weight: bold; background-color: #CCCCCC !important; color: #000 !important }

.calendar .month .month-content { height: 100%; border: 1px solid #CCCCCC }
.calendar .month, .calendar .month .month-content .content, .calendar .month .month-content .header { border: none; }

.calendar .month { height: 102px }
.calendar .month .month-content table { width: 100%; }
.calendar .month .month-content .header td, .calendar .month .month-content .content td { width: 16.6666%; border-left: 1px solid #CCCCCC; text-align: center }
.calendar .month .month-content .header td {
	height: 18px;
	border-left: none;
	border-bottom: 1px solid #CCCCCC;
	background-color: #DDD !important;
	line-height: 18px;
	font-size: 110%
}
.calendar .month .month-content .content td { height: 104px; border-top: 1px solid #CCCCCC; border-bottom: none }
.event {
	display: inline-block;
	box-shadow: 1px 1px 3px 1px rgba(40,40,40,0.4);
	text-align: center;
	border-radius: 6px;
	padding: 2px 4px;
	margin: 6px;
}

.event.wolf {
	color: #000 !important;
	background: #AA0 !important;
	border-radius: 5px;
	background: -moz-linear-gradient(top, #FF0 0%, #AA0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF0), color-stop(100%,#AA0));
	background: -webkit-linear-gradient(top, #FF0 0%,#AA0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FF0 0%,#AA0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FF0 0%,#AA0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FF0 0%,#AA0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF0', endColorstr='#AA0',GradientType=0);
}

.event.scout {
	color: #FFF !important;
	background: #0D0 !important;
	border-radius: 5px;
	background: -moz-linear-gradient(top, #0D0 0%, #009900 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0D0), color-stop(100%,#009900));
	background: -webkit-linear-gradient(top, #0D0 0%,#009900 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #0D0 0%,#009900 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #0D0 0%,#009900 100%); /* IE10+ */
	background: linear-gradient(to bottom, #0D0 0%,#009900 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0D0', endColorstr='#009900',GradientType=0);
}

.event.senior {
	color: #FFF !important;
	background: #a6274f !important;
	border-radius: 5px;
	background: -moz-linear-gradient(top, #a6274f 0%, #651830 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a6274f), color-stop(100%,#651830));
	background: -webkit-linear-gradient(top, #a6274f 0%,#651830 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a6274f 0%,#651830 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #a6274f 0%,#651830 100%); /* IE10+ */
	background: linear-gradient(to bottom, #a6274f 0%,#651830 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6274f', endColorstr='#651830',GradientType=0);
}

.event.hover {
	color: #FFF !important;
	background: #D00 !important;
	border-radius: 5px;
	background: -moz-linear-gradient(top, #D00 0%, #990000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D00), color-stop(100%,#990000));
	background: -webkit-linear-gradient(top, #D00 0%,#990000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #D00 0%,#990000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #D00 0%,#990000 100%); /* IE10+ */
	background: linear-gradient(to bottom, #D00 0%,#990000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D00', endColorstr='#990000',GradientType=0);
}

.event.boss {
	color: #FFF !important;
	background: #00D !important;
	border-radius: 5px;
	background: -moz-linear-gradient(top, #00D 0%, #000099 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00D), color-stop(100%,#000099));
	background: -webkit-linear-gradient(top, #00D 0%,#000099 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #00D 0%,#000099 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #00D 0%,#000099 100%); /* IE10+ */
	background: linear-gradient(to bottom, #00D 0%,#000099 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00D', endColorstr='#000099',GradientType=0);
}

.event.everyone {
	color: #000 !important;
	background: #DDD !important;
	border-radius: 5px;
	background: -moz-linear-gradient(top, #DDD 0%, #999999 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#DDD), color-stop(100%,#999999));
	background: -webkit-linear-gradient(top, #DDD 0%,#999999 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #DDD 0%,#999999 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #DDD 0%,#999999 100%); /* IE10+ */
	background: linear-gradient(to bottom, #DDD 0%,#999999 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DDD', endColorstr='#999999',GradientType=0);
}

.event.other {
	color: #FFF !important;
	background: #222 !important;
	border-radius: 5px;
	background: -moz-linear-gradient(top, #222 0%, #000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222), color-stop(100%,#000));
	background: -webkit-linear-gradient(top, #222 0%,#000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #222 0%,#000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #222 0%,#000 100%); /* IE10+ */
	background: linear-gradient(to bottom, #222 0%,#000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#000',GradientType=0);
}

.event.air {
	color: #000 !important;
	background: #FFF !important;
	border-radius: 5px;
	background: -moz-linear-gradient(top, #FFF 0%, #EEE 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF), color-stop(100%,#EEE));
	background: -webkit-linear-gradient(top, #FFF 0%,#EEE 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FFF 0%,#EEE 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FFF 0%,#EEE 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FFF 0%,#EEE 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFF', endColorstr='#EEE',GradientType=0);
}

.event.holiday {
	color: #000 !important;
	background: #F60 !important;
	border-radius: 5px;
	background: -moz-linear-gradient(top, #F60 0%, #EEE 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F60), color-stop(100%,#EEE));
	background: -webkit-linear-gradient(top, #F60 0%,#EEE 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #F60 0%,#EEE 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #F60 0%,#EEE 100%); /* IE10+ */
	background: linear-gradient(to bottom, #F60 0%,#EEE 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F60', endColorstr='#EEE',GradientType=0);
}

.calendar-legend { float: left; width: 100%; padding: 8px; margin: 8px 0; border: 1px solid #CCC; }
.calendar-legend div { float: left; padding: 4px 8px; background-color: #DDD; margin: 2px 0.25%; cursor: pointer; border-radius: 6px }
.calendar-legend div.legend { width: 100%; cursor: text; background-color: transparent; }
.calendar-legend div span {width: 16px;}

.btn-right-float { float: right; }

.main-content.full-size {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #FFF;
	width: 100%;
	bottom: 0;
	right: 0;
	overflow: auto;
	z-index: 100;
}

.main-content.full-size .btn {
	position: fixed;
	top: 18px;
	right: 42px;
}

@media print {
	.menu, .top-menu, .banner, .breadcrumb, .footer,
	.submenu, .calendar-legend, .share-button, .btn{ display: none }
	.page-break { page-break-before:always; page-break-inside: avoid; margin-top: 8px}
	.main-content.full-size { position: relative }
	.event { -webkit-print-color-adjust: exact; }
	.event.hover {background-color: #D00 }
}

@media screen and (max-width: 991px) {
	.submenu {display: none}
}